<div>
    <div class="tutor-entity">TUTOR</div>
    <div><span class="since-degree">Учёная степень: {{ tutor.scienceDegree }}</span></div>
    <div class="main-info">
        <span class="name-tutor">ФИО: {{ tutor.name }} </span>
        <span class="name-tutor">{{ tutor.surname }} </span>
        <span class="name-tutor">{{ tutor.patronymic }} </span>
    </div>
    <div class="sub-container">
        <span class="sub">Стаж работы: {{ tutor.workExperience }} </span>
        <span class="sub">Персональный номер: {{ tutor.personalNumber }} </span>
        <span class="sub">Возраст: {{ tutor.age }} </span></div>
</div>