<section *ngIf="getLengthNamesAttrEntity() > 0">
    <!-- Режим просмотра -->
    <div *ngIf="editMode==false">
		<div class="table">	
			<caption>Универсальная форма({{entity.nameEntity}})</caption>
			<div class="header">
				<div class="col">Имя атрибута</div><div class="col">Значение</div><div class="col">Тип</div>
			</div>		
			<div class="row" *ngFor="let atribute of entity.getAtributesNames()">
				<div class="col">{{atribute}}</div>
                <div class="col">{{entity[atribute]}}</div>
                <div class="col">{{entity.getNameType(entity[atribute])}}</div>
			</div>
		</div>
    </div>
    <!-- Режим редактирования -->
    <div *ngIf="editMode==true">
        <form #myForm="ngForm" novalidate>            
            <div class="table">
                <caption>Универсальная форма({{entity.nameEntity}})</caption>
                <div class="header">
                    <div class="col">Имя атрибута</div><div class="col">Значение</div><div class="col">Тип</div>
                </div>
                <div class="row" *ngFor="let atribute of entity.getAtributesNames()">
                    <div *ngIf="entity.getNameType(entity[atribute]) != 'Array'" class="col" >{{atribute}}</div>
                    <div *ngIf="entity.getNameType(entity[atribute]) != 'Array'" class="col" >
                        <input *ngIf="entity.getNameType(entity[atribute]) == 'String' && atribute != 'studentGroup'" 
                                    type="text" name="{{'atribute' + entity.getAtributesNames().indexOf(atribute)}}"
                                    [ngModel]="entity[atribute]"
                                    class="name" ngModel
                                    pattern="[A-Za-zА-Яа-яЁё]+" required>
                        <input *ngIf="entity.getNameType(entity[atribute]) == 'Number'"
                                name="{{'atribute' + entity.getAtributesNames().indexOf(atribute)}}" ngModel
                                type="number" [ngModel]="entity[atribute]" class="name" required/>
                    </div>
                    <div *ngIf="entity.getNameType(entity[atribute]) != 'Array'" class="col" >
                        {{entity.getNameType(entity[atribute])}}
                    </div>
                </div>
            </div>            
            <!--<button [disabled]="myForm.invalid" class="btn" (click)="submit(myForm)">Сохранить</button>-->
            
            <!--<div class="tab" *ngFor="let atribute of entity.getAtributesNames()" >
                <button *ngIf = "entity.getNameType(entity[atribute]) != 'String' &&
                                   entity.getNameType(entity[atribute]) != 'Number' &&
                                   entity.getNameType(entity[atribute]) != 'Boolean' &&
                                   entity.getNameType(entity[atribute]) != 'null or undefined'" 
                        class="tablinks" (click)="openTab(idObj + atribute)" >{{atribute}}</button>
            </div>-->

            <!-- Отображения сложных типов -->
            <!--<div id = "{{idObj + atribute}}" class="entity_attr" *ngFor="let atribute of entity.getAtributesNames()">
                <resolver *ngIf = "entity.getNameType(entity[atribute]) != 'String' &&
                                   entity.getNameType(entity[atribute]) != 'Number' &&
                                   entity.getNameType(entity[atribute]) != 'Boolean' &&
                                   entity.getNameType(entity[atribute]) != 'null or undefined'" 
                          [entity]="entity[atribute]"></resolver>
            </div>-->
            <!--<div id="scrolledtabs">
                <div class="caption">Tabs with Overflow</div>
                <dx-tabs
                    #apiTabs
                    [dataSource]="tabsCollection"
                    [width]="300"
                    [scrollByContent]="true"
                    [showNavButtons]="true"
                ></dx-tabs>
            </div>-->
            <!--<div *ngFor="let tab of tabsCollection">
                <dx-data-grid
                id="{{idObj+'gridContainer'}}"
                [dataSource]="entity[tab]"
                [columns]="entity[tab][0].getAtributesNames()">
                </dx-data-grid>
            </div>-->
            
        </form>
        <div id="{{idObj + 'longtabs'}}">
            <div class="caption">Tabs</div>
            <dx-tabs 
                #apiTabs
                class="tabs"
                [dataSource]="arrAtributesCollection"
                [scrollByContent]="true"
                [showNavButtons]="true"
                (onItemClick)=selectTab($event)
            ></dx-tabs>
        </div>
        <!--<dx-data-grid *ngFor="let tab of arrAtributesCollection"
                id="{{idObj+'gridContainer'+tab}}"
                [dataSource]="valueTabs[tab]"
                [columns]="columnTabs[tab]"
                style="display:none">
        </dx-data-grid>-->

        <dx-data-grid *ngFor="let tab of arrAtributesCollection"
                id="{{idObj+'gridContainer'+tab}}"
                [dataSource]="valueTabs[tab]"
                [allowColumnReordering]="true"
                [allowColumnResizing]="true"
                [columnAutoWidth]="true"
                style="display:none">
                <dxi-column *ngFor="let elem of columnTabs[tab]" dataField="{{elem}}" alignment="left"></dxi-column>
        </dx-data-grid>

    </div>
</section>