<section *ngIf="getLengthNamesAttrEntity() > 0">
    <!-- Режим просмотра -->
    <div *ngIf="editMode==false">
		<div class="table">	
			<caption>Универсальная форма({{entity.nameEntity}})</caption>
			<div class="header">
				<div class="col">Имя атрибута</div><div class="col">Значение</div><div class="col">Тип</div>
			</div>		
			<div class="row" *ngFor="let atribute of entity.getAtributesNames()">
				<div *ngIf="entity.getNameType(entity[atribute]) != 'Array'" class="col">
                    {{atribute}}
                </div>
                <div *ngIf="entity.getNameType(entity[atribute]) != 'Array'" class="col">
                    <div *ngIf="entity.getNameType(entity[atribute]) == 'String' || 
                                entity.getNameType(entity[atribute]) == 'Number' ||
                                entity.getNameType(entity[atribute]) == 'Boolean'">
                        {{entity[atribute]}}
                    </div>
                    <dx-button
                        *ngIf="entity.getNameType(entity[atribute]) != 'Number' &&
                        entity.getNameType(entity[atribute]) != 'String'&&
                        entity.getNameType(entity[atribute]) != 'Boolean'&&
                        entity.getNameType(entity[atribute]) != 'Array'"
                        class="button-info"
                        text="..."
                        (onClick)="showInfo(entity[atribute])">
                    </dx-button>
                </div>
                <div *ngIf="entity.getNameType(entity[atribute]) != 'Array'" class="col">
                    {{entity.getNameType(entity[atribute])}}
                </div>
			</div>
            <dx-popup
                class="popup"
                style="overflow-y: scroll"
                [showTitle]="true"
                title="Information"
                [dragEnabled]="false"
                [closeOnOutsideClick]="true"
                [(visible)]="popupVisible">
                <resolver *dxTemplate="let data of 'content'" [entity]="currentEntity" [editMode]="false"></resolver>
            </dx-popup>
		</div>
        <div id="{{idObj + 'longtabsView'}}">
            <div class="caption">Tabs attribute-collection</div>
            <dx-tabs 
                class="tabs"
                [dataSource]="arrAtributesCollection"
                [scrollByContent]="true"
                [showNavButtons]="true"
                (onItemClick)="selectTab($event, 'View')"
            ></dx-tabs>
        </div>
        <dx-data-grid *ngFor="let tab of arrAtributesCollection"
                id="{{idObj+'gridContainerView'+tab}}"
                [dataSource]="valueTabs[tab]"
                [allowColumnReordering]="true"
                [allowColumnResizing]="true"
                [columnAutoWidth]="true"
                [rowAlternationEnabled]="false"
                [hoverStateEnabled]="false"
                style="display:none">
                <dxo-editing mode="row" [allowAdding]="false" [allowUpdating]="false" [allowDeleting]="false"></dxo-editing>
                <div *ngFor="let elem of columnTabs[tab]">
                    <div *ngIf="elem.type == 'String' || elem.type == 'Number' || elem.type == 'Boolean'">
                        <dxi-column 
                            dataField="{{elem.name}}"
                            alignment="center">
                        </dxi-column>
                    </div>
                    <div *ngIf="elem.type != 'String' && elem.type != 'Number' && elem.type != 'Boolean'">
                        <dxi-column 
                            dataField="{{elem.name}}"
                            alignment="left"
                            cellTemplate="cTempl"
                            editCellTemplate="cTempl"
                            aligment="center">
                        </dxi-column>
                    </div>
                    <div *dxTemplate="let data of 'cTempl'">
                        <dx-button
                        class="button-info"
                        icon="box"
                        [hoverStateEnabled]="false"
                        style="width:100%; border:0px; background: #fff;"
                        (onClick)="showInfo(data.value)"></dx-button>
                    </div>
                </div>                
        </dx-data-grid>
    </div>
    <div *ngIf="editMode==true">
        <form action="your-action" (submit)="onFormSubmit($event)" >            
            <div class="table">
                <caption>Универсальная форма({{entity.nameEntity}})</caption>
                <div class="header">
                    <div class="col">Имя атрибута</div><div class="col">Значение</div><div class="col">Тип</div>
                </div>
                <div class="row" *ngFor="let atribute of entity.getAtributesNames()">
                    <div *ngIf="entity.getNameType(entity[atribute]) != 'Array'" class="col" >{{atribute}}</div>
                    <div *ngIf="entity.getNameType(entity[atribute]) != 'Array'" class="col" >
                        <dx-text-box
                            *ngIf="entity.getNameType(entity[atribute]) == 'String'"
                            [(ngModel)]="model[atribute]" name="{{atribute+idObj}}">
                            <dx-validator [validationGroup]="idObj+vGr">
                                <dxi-validation-rule type="required" message="required {{atribute}}"></dxi-validation-rule>
                            </dx-validator>
                        </dx-text-box>
                        <dx-number-box 
                            *ngIf="entity.getNameType(entity[atribute]) == 'Number'"
                            [(ngModel)]="model[atribute]" name="{{atribute+idObj}}">
                            <dx-validator [validationGroup]="idObj+vGr">
                                <dxi-validation-rule type="required" message="required {{atribute}}"></dxi-validation-rule>
                                <dxi-validation-rule type="range" [min]=0></dxi-validation-rule>
                            </dx-validator>
                        </dx-number-box>
                        <dx-check-box
                            *ngIf="entity.getNameType(entity[atribute]) == 'Boolean'"
                            [(ngModel)]="model[atribute]" name="{{atribute+idObj}}">
                            <dx-validator [validationGroup]="idObj+vGr">
                                <dxi-validation-rule  type="required" message="required {{atribute}}"></dxi-validation-rule>
                            </dx-validator>
                        </dx-check-box>
                        <dx-button
                            *ngIf="entity.getNameType(entity[atribute]) != 'Number' &&
                            entity.getNameType(entity[atribute]) != 'String' &&
                            entity.getNameType(entity[atribute]) != 'Boolean' &&
                            entity.getNameType(entity[atribute]) != 'Array'"
                            class="button-info"
                            text="..."
                            (onClick)="showInfo(entity[atribute])">
                        </dx-button>
                    </div>
                    <div *ngIf="entity.getNameType(entity[atribute]) != 'Array'" class="col" >
                        {{entity.getNameType(entity[atribute])}}
                    </div>
                </div>
            </div>
            <dx-validation-summary [validationGroup]="idObj+vGr" id="{{'summary' + idObj}}"></dx-validation-summary>
            <dx-button 
                id="button + {{idObj}}"
                text="Сохранить"
                type="success"  
                [validationGroup]="idObj+vGr"
                [useSubmitBehavior]="true"
                style="width:100%">
            </dx-button>
        </form>
        <dx-popup
            class="popup"
            style="overflow-y: scroll"
            [showTitle]="true"
            title="Information"
            [dragEnabled]="false"
            [closeOnOutsideClick]="true"
            [(visible)]="popupVisible">
            <resolver *dxTemplate="let data of 'content'" [entity]="currentEntity" [editMode]="true"></resolver>
        </dx-popup>

        
        <div id="{{idObj + 'longtabsEdit'}}">
            <div class="caption">Tabs attribute-collection</div>
            <dx-tabs 
                class="tabs"
                [dataSource]="arrAtributesCollection"
                [scrollByContent]="true"
                [showNavButtons]="true"
                (onItemClick)="selectTab($event, 'Edit')"
            ></dx-tabs>
        </div>
            
        <dx-data-grid *ngFor="let tab of arrAtributesCollection"
                id="{{idObj+'gridContainerEdit'+tab}}"
                [dataSource]="valueTabs[tab]"
                [allowColumnReordering]="true"
                [allowColumnResizing]="true"
                [columnAutoWidth]="true"
                [rowAlternationEnabled]="false"
                [hoverStateEnabled]="false"
                style="display:none">
                <dxo-editing mode="row" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true"></dxo-editing>
                <div *ngFor="let elem of columnTabs[tab]">
                    <div *ngIf="elem.type == 'String'">
                        <dxi-column 
                            dataField="{{elem.name}}"
                            alignment="center">
                            <dxi-validation-rule type="required" message="required"></dxi-validation-rule>
                        </dxi-column>
                    </div>
                    <div *ngIf="elem.type == 'Number'">
                        <dxi-column 
                            dataField="{{elem.name}}"
                            alignment="center">
                            <dxi-validation-rule type="required" message="required"></dxi-validation-rule>
                            <dxi-validation-rule type="range" [min]=0></dxi-validation-rule>
                        </dxi-column>
                    </div>
                    <div *ngIf="elem.type == 'Boolean'">
                        <dxi-column 
                            dataField="{{elem.name}}"
                            alignment="center">
                            <dxi-validation-rule type="required" message="required"></dxi-validation-rule>
                        </dxi-column>
                    </div>
                    <div *ngIf="elem.type != 'String' && elem.type != 'Number' && elem.type != 'Boolean'">
                        <dxi-column 
                            dataField="{{elem.name}}"
                            alignment="left"
                            cellTemplate="cTempl"
                            editCellTemplate="cTempl"
                            aligment="center">
                        </dxi-column>
                    </div>
                    <div *dxTemplate="let data of 'cTempl'">
                        <dx-button
                        class="button-info"
                        icon="box"
                        [hoverStateEnabled]="false"
                        style="width:100%; border:0px; background: #fff;"
                        (onClick)="showInfo(data.value)"></dx-button>
                    </div>
                </div>                
        </dx-data-grid>
    </div>
</section>