<button class="btn" (click)="viewdiv('add-new');updateNewStudent();">Новый студент</button>

<!--<dx-button (onClick)="popupNewEntity()"></dx-button>-->

<div *ngIf="students.length" >
    <div *ngFor="let student of students" class="students" >
        <div class="student">
            <span class="title">
                {{ student.name + ' ' + student.surname.charAt(0) + '.' + student.patronymic.charAt(0) + '.,' }}
                {{ student.studentGroup.name }}
            </span>
            <div class="actions">
                <button class="detail-icon" (click)="viewdiv(student.personalNumber, student);">
                <!--<a href="#win2" class="settings2">-->
                    <i class="material-icons">person</i>
                <!--</a>
                <a href="#y" class="overlay2" id="win2"></a>-->
                </button>
                <button class="edit-icon" (click)="viewdiv('edit' + student.personalNumber);">
                    <i class="material-icons">edit</i>
                </button>
                <button class="delete-icon" (click)="delete(student)">
                    <i class="material-icons">delete</i>
                </button>
            </div>
        </div>
    </div>
</div>
        
    


<a class="overlay2" id="win2"></a>
<div class="popup2" id="popup2">
    <button class="closePopup" (click)="closePopup()">Закрыть</button>
    <resolver *ngFor="let student of students" id='{{student.personalNumber}}' class="student-detail" [entity]="student"></resolver>
    <default-form *ngFor="let student of students" id='{{"edit" + student.personalNumber}}' class="student-detail" 
    [entity]="student" [editMode]="true"></default-form>
    <!---->
    <div id="add-new" class="add-new">
        <default-form [editMode]="true" [entity]="newStudent"></default-form>
    </div>
    
</div>