<button type="button" nglButton="neutral" (click)="hideName = !hideName">Toggle "Name" column</button>
<button type="button" nglButton="neutral" (click)="loading = !loading">Toggle Loading</button>
<button type="button" nglButton="neutral" (click)="toggleData()">Clear/Set data</button>

<table ngl-datatable [data]="data" trackByKey="rank" [loading]="loading" [(sort)]="sort" (sortChange)="onSort($event)"
  (onRowClick)="onRowClick($event)">
  <ngl-datatable-column heading="Rank" key="rank" sortable></ngl-datatable-column>
  <ngl-datatable-column heading="Name" key="name" *ngIf="!hideName"sortable></ngl-datatable-column>
  <ngl-datatable-column heading="Surname" key="surname"sortable>
    <template nglDatatableCell let-row="row"><b>{{row.surname}}</b></template>
  </ngl-datatable-column>
  <ngl-datatable-column heading="Points" key="points">
    <template nglDatatableHeading><strong>Points</strong></template>
    <template nglDatatableCell let-value><ngl-badge>{{value | number}}</ngl-badge></template>
  </ngl-datatable-column>

  <!-- Loading overlay -->
  <template nglLoadingOverlay>
    <div>Loading...</div>
  </template>

  <!-- No rows overlay -->
  <template nglNoRowsOverlay>No data available in table!</template>
</table>