<div>
    <div *ngIf="collection[0].getComponentNameOfType() == 'default'">
        <datagrid-custom [dataCollection]="collection"></datagrid-custom>
    </div>
    <div *ngIf="collection[0].getComponentNameOfType() == 'PersonComponent'">
        <person-list [persons]="collection"></person-list>
    </div>
    <div *ngIf="collection[0].getComponentNameOfType() == 'StudentComponent'">
        <student-list [students]="collection"></student-list>
    </div>
    <div *ngIf="collection[0].getComponentNameOfType() == 'TutorComponent'">
        tutor list
    </div>
</div>